div#exampleModal {
    padding: 0 !important;
}
.modal-content{
    background-color: #f1f2f7;
}
.modal-header {
padding: 0;
border: none;
}
.modal {
top: 23vh !important;
}
.modal-backdrop {
top: 23vh !important;
}
.modal-backdrop.show {
opacity: 0 !important;
}
.modal-dialog {
max-width: 100% !important;
margin: 1.75rem auto;
}
.custom-modal p {
margin: 0;
}
.pad-l-2{
padding:0 8%;
}
.fw-500{
font-weight: 500;
}
.fw-200{
font-weight: 200;
}
.mb-8{
margin-bottom: 8% !important;
}
button.boton-contacto {
    border-radius: 30px;
    border: none;
    background: #022374;
    color: white;
    padding: 2% 8%;
}