@media (min-width:1023px) {
    * {
        box-sizing: border-box;
    }

    /* Style the tab */
    .tab {
        margin-top: 2%;
        width: 25%;
        min-height: 1px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        display: block;
        background-color: inherit;
        color: #a3a3a3;

        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.1s;
        text-decoration: none;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        color: #0056b3;
        text-decoration: none;
        font-weight: 700;
    }

    .active i.fa.fa-caret-right {
        color: #0056b3;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }


    /* Style the tab content */
    .tabcontent {
        width: 75%;
        border-left: none;
        min-height: 1px;
        margin-top: 2%;
    }

    .custom-acordion-nosotros hr {
        border-top: 2px solid #a3a3a3;
        width: 100px;
        text-align: start;
        margin: 5px 2px;
    }

    .custom-acordion-nosotros .active hr {
        border-top: 2px solid #1379ec;
    }
}