{% if page.header%}
<header>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "Dolar",
      "proName": "FX_IDC:USDCOP"
    },
    {
      "description": "IPC",
      "proName": "ECONOMICS:COINTR"
    },
    {
      "description": "Banco de la República",
      "proName": "ECONOMICS:COGDP"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "es"
}
  </script>
</div>
<!-- TradingView Widget END -->


  <nav id="home" class="navbar navbar-expand-lg justify-content-between navbar-light pl-5 pr-5">
    {{page.header}}
    <div class="col-sm-6 col-lg-9">
      <div class="custom-flex d-flex justify-content-end">
      {{page.primary_menu}}
      </div>
      <div class="custom-heigth">
        {{page.secondary_menu}}
      </div>
    </div>
  </nav>

  <div class="custom-modal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-5">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid p-0">
            <div class="row p-0">
                <div class="col-lg-4 col-xs-12 col-sm-12 p-0">
                    <div class="pad-l-2" style="border-left: 1px solid black;">
                        <p class="mb-8"><strong>Lineas de atención</strong></p>
                        <p class="fw-500">Linea De atención <br>Telefonica</p>
                        <p class="fw-200 mb-8"> (60+1)327 5500</p>

                        <p class="fw-500">Linea Gratuita <br>Nacional</p>
                        <p class="fw-200 mb-8"> 01 8000 12 4211</p>

                    </div>
                       

                </div>
                
                <div class="col-lg-4 col-xs-12 col-sm-12 p-0">
                    <div class="pad-l-2" style="border-left: 1px solid black;">
                      <p class="pad-l-2 fw-500">Ubicación</p>
                      <p class="pad-l-2 fw-500">Bogota D.C.</p>
                      <p class="pad-l-2 fw-200 mb-8"> Calle 82 # 90B - 10</p>
                        <p class="pad-l-2 fw-500">Direccion Electronica</p>
                      <p class="pad-l-2 fw-200 mb-8"> fiducoldex@fiducoldex.com.co</p> 

                    </div>
                </div>
                
                <div class="col-lg-4 col-xs-12 col-sm-12 p-0">
                    <div class="pad-l-2" style="border-left: 1px solid black;">
                        <p class="mb-8"><strong>Contacto</strong></p>
                        <p class="fw-200 mb-8" style="margin-bottom: 8%;"> Déjanos un mensaje y nos contactaremos contigo en la brevedad</p>

                        <button type="button" class="boton-contacto">
                            Enviar contacto
                        </button>
                    </div>
                </div>

            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</header>
{% endif %}
