{% if page.header%}
<header>
<!-- TradingView Widget BEGIN -->
<div class="movil tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "description": "Dolar",
      "proName": "FX_IDC:USDCOP"
    },
    {
      "description": "IPC",
      "proName": "ECONOMICS:COINTR"
    },
    {
      "description": "Banco de la República",
      "proName": "ECONOMICS:COGDP"
    }
  ],
  "showSymbolLogo": true,
  "colorTheme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "es"
}
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="destopk tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "description": "Dolar",
      "proName": "FX_IDC:USDCOP"
    },
    {
      "description": "IPC",
      "proName": "ECONOMICS:COINTR"
    },
    {
      "description": "Banco de la República",
      "proName": "ECONOMICS:COGDP"
    }
  ],
  "colorTheme": "light",
  "isTransparent": false,
  "showSymbolLogo": true,
  "locale": "es"
}
  </script>
</div>
<!-- TradingView Widget END -->

  <nav id="home" class="navbar navbar-expand-lg justify-content-between navbar-light pl-5 pr-5">
    {{page.header}}
    <div class="col-sm-6 col-lg-9">
      <div class="custom-flex d-flex justify-content-end">
      {{page.primary_menu}}
      </div>
      <div class="custom-heigth">
        {{page.secondary_menu}}
      </div>
    </div>
  </nav>

  <div class="custom-modal modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-5">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid p-0">
            <div class="row p-0">
                <div class="col-lg-3 col-xs-12 col-sm-12 p-0">
                    <div class="pad-l-2" style="border-left: 1px solid black;">
                        <p class="mb-8"><strong>Lineas de atención</strong></p>
                        <p class="fw-500">Linea De atención <br>Telefonica</p>
                        <p class="fw-200 mb-8"> (60+1)327 5500</p>

                        <p class="fw-500">Linea Gratuita <br>Nacional</p>
                        <p class="fw-200 mb-8"> 01 8000 12 4211</p>

                    </div>
                    <p class="pad-l-2 fw-500">Ubicación</p>
                    <p class="pad-l-2 fw-200 mb-8"> Calle 82 # 90B - 10</p>
                    
                    <p class="pad-l-2 fw-500">Direccion Electronica</p>
                    <p class="pad-l-2 fw-200 mb-8"> fiducoldex@fiducoldex.com.co</p>    

                </div>
                
                <div class="col-lg-3 col-xs-12 col-sm-12 p-0">
                    <div class="pad-l-2" style="border-left: 1px solid black;">
                        <p class="mb-8"><strong>Defensor del Consumidor Financiero</strong></p>
                        <p class="fw-500">Dra. Liliana Otero Álvares</p>
                        <p class="fw-200 mb-8"> (Principal)</p>

                        <p class="fw-500">Dra. Sara Mercedes Garcés Rodríguez</p>
                        <p class="fw-200 mb-8"> (Suplente)</p>

                    </div>
                    <p class="pad-l-2 fw-500">Información de Contacto</p>
                    <p class="pad-l-2 fw-200"> Cra 13 # 73-34 Oficina 202</p>
                    <p class="pad-l-2 fw-200"> Edificio Catania (Bogotá D.C)</p>
                    <p class="pad-l-2 fw-200"> PBX (60+1)926 0801</p>
                    <p class="pad-l-2 fw-200"> e-mail: defensorfiducoldex@umoabogados.com</p>
                    <p class="pad-l-2 fw-200"> Horario de atencion: de 08:00 am a 05:00 pm</p>
                    <p class="pad-l-2 fw-200"> de lunes a viernes en jornada continua</p>

                </div>
                
                <div class="col-lg-3 col-xs-12 col-sm-12 p-0">
                    <p class="pad-l-2 fw-200 mb-8">
                        Si usted requiere información adicional acerca de la Defensoría del consumidor Financiero de FIDUCOLDEX S.A, consúltenos de forma telefónica al teléfono 3275500, diríjase directamente a nuestras oficinas ubicadas en la Calle 28 No. 13A-24 Piso 6, en la ciudad de Bogotá D.C, o al correo electronico fiducoldex@fiducoldex.com.co
                    </p>
                    <p class="pad-l-2 fw-500 mb-8">Reglamento de PQRs ante el Defensor <br>del Consumidor Financiero</p>
                    <p class="pad-l-2 fw-500 mb-8">Manual SAC</p>
                </div>
                
                <div class="col-lg-3 col-xs-12 col-sm-12 p-0">
                    <div class="pad-l-2" style="border-left: 1px solid black;">
                        <p class="mb-8"><strong>Contacto</strong></p>
                        <p class="fw-200 mb-8" style="margin-bottom: 8%;"> Déjanos un mensaje y nos contactaremos contigo en la brevedad</p>

                        <button type="button" class="boton-contacto">
                            Enviar contacto
                        </button>
                    </div>
                </div>

            </div>
          </div>

        </div>
        
      </div>
    </div>
  </div>
</header>
{% endif %}
