header .custom-heigth ul#superfish-main {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%;
    width: 100%;
    justify-content: flex-end;
}

header a.is-active.sf-depth-1 {
    font-weight: 600;
}
li.sf-depth-1 {
    height: 2vh;
    border-right: 1px solid #00132f;
}

a.sf-depth-1 {
    height: 100%;
    line-height: 2vh;
    color: #00132f !important;
    padding: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    text-decoration:none;
}

a.sf-depth-1:hover, a.sf-depth-1:focus {
    font-weight:600;
    text-decoration:none;
}

header li.sf-depth-1:first-child {
    height: 2vh;
    border-right: 2px solid #00132f;
}
header li.sf-depth-1:last-child {
    border:none !important;
}
ul.sf-menu .sf-sub-indicator:after{
    display: none;
}

ul.sf-menu.sf-horizontal.sf-shadow ul, ul.sf-menu.sf-vertical.sf-shadow ul, ul.sf-menu.sf-navbar.sf-shadow ul ul {
    background: white !important;
}

ul.sf-menu a, ul.sf-menu span.nolink {
    color: black;
}
ul.sf-menu a:hover {
    color: #464646;
       text-decoration:none;
}